body      {background-color: "#9FAC9F";
           font-family: verdana, arial, "ms sans serif", sans-serif; 
           font-weight: bolder;
           font-weight: normal;  
           font-size: 50%;
           font-size: 8px; 
           font-color: "#000000";
           color: #330066;
 line-height: 14px;
 color: #e9ffe9;
          color: #333333;
          color: #7A7A7A;
           margin: 0%; 0%; 10px; 0%;
           line-height: 150%;
          color: "#050505"}

p      {background-color: "#9FAC9F";
           font-family: verdana, arial, "ms sans serif", sans-serif; 
           font-weight: normal;  
           font-size: 12px; 
           line-height: 14px;
           margin: 10px; 0%; 10px; 0%;
           line-height: 150%;
           color: "#050505"}

h1      {background-color: "#9FAC9F";
           font-family: verdana, arial, "ms sans serif", sans-serif; 
           font-weight: bolder;  
           font-size: 18px; 
           line-height: 14px;
           margin: 10px; 0%; 0%; 0%;
           line-height: 150%;
           color: "#000000"}

h2      {background-color: "#9FAC9F";
           font-family: verdana, arial, "ms sans serif", sans-serif; 
           font-weight: 700;  
           font-size: 15px; 
           line-height: 14px;
           margin: 10px; 0%; 0%; 0%;
           line-height: 150%;
           color: "#000000"}

ul      {background-color: "#9FAC9F";
           font-family: verdana, arial, "ms sans serif", sans-serif; 
           font-weight: normal;  
           font-size: 12px; 
           line-height: 14px;
           margin: 25px; 0%; 10px; 0%;
           line-height: 150%;
           color: "#050505"}


a:link    {color: #660000}
a:visited {color: sepia}
a:hover   {color: red; background: grey; size: 14px}
a:active  {color: #ff0000}
