/*
Original design: Variant Winter (v1.0 - Feb 01, 2011) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/variant-winter/
*/

*{margin:0;padding:0;}
body{background:#dadada url(images/body-bg.gif) top center 
repeat-y;color:#555;font:84% Tahoma, Verdana, sans-serif;}
/*a{color:#286ea0;text-decoration:none;}*/
a{color:#A11;text-decoration:none;}
a:hover{text-decoration:underline;}
a img{border:0;}
h1{font-size:2.5em;letter-spacing:-1px;margin:0 0 5px;padding:0;}
h2{font-size:1.5em;margin:0 0 12px;padding:0;text-shadow:#ccc 2px 2px 4px;}
h3{font-size:1.2em;margin:0 0 10px;padding:0;text-shadow:#ccc 2px 2px 4px;}
p,ul{line-height:1.5em;margin:0 0 18px;text-align:left;}
ul,ol{list-style:square;margin:0 0 15px 20px;}
hr{clear:both;height:1px;visibility:hidden;}

#container{background:#fff url(images/edp1000275j.jpg) top left no-repeat;margin:0 auto;width:980px;}
#main{float:left;margin:0 0 10px 20px;padding:0;width:640px;}

#logo{margin:0 auto;padding:45px 0 15px 40px;width:960px;}
/*#logo h1 a{color:#777;padding:0;text-shadow:#ccc 2px 2px 7px;}*/
/*#logo h1 a{color:#911;padding:0;text-shadow:#ccc 2px 2px 7px;}
#logo h1 a:hover{text-decoration:none;}
#logo p{color:#555;font-size:1.3em;text-shadow:#ccc 2px 2px 7px;}

#feature{background-color:#222;border-bottom:1px solid #ccc;border-left:1px solid #ccc;clear:both;color:#666;margin:0 0 15px;padding:10px 20px 5px 10px;}
#feature h2{padding-top:10px;}
#feature img{border:1px solid #ccc;}
#feature a{color:#eee;text-decoration:underline;}
#feature p{margin:0;padding:0; line-height:1.7em;}

/* ul#navitab li a{background:url(images/corner.gif) no-repeat top right #cfd7e5;border-left:1px solid */
/* ul#navitab li a{background:url(images/corner.gif) no-repeat top right #dadada;border-left:1px solid */
ul#navitab{margin:0;padding:0;}
ul#navitab li{display:block;float:left;margin:0;padding:0;}
ul#navitab li a{background:url(images/corner.gif) no-repeat top right #bbc2d0;border-left:1px solid 
#ccc;border-right:2px solid #fff;color:#555;display:block;height:1.2em;padding:5px 12px 7px;text-align:center;text-decoration:none;text-transform:uppercase;white-space:nowrap;}
ul#navitab li a:hover{background:#eee url(images/corner.gif) no-repeat top right;border-left:1px solid #ccc;color:#5b6270;}
ul#navitab li a.current{background:#e0c0c0 url(images/corner.gif) no-repeat top right;border-left:1px solid #ccc;color:#555;}

#sidebar{background-color:#fff;float:right;margin:0 20px 10px 0;width:280px;}
#sidebar h2{border-bottom:1px solid #ccc;font-size:1.2em;margin:0 0 6px;padding:0 0 2px;text-shadow:#ccc 2px 2px 4px;}
#sidebar ul{margin:0 0 18px;padding:0;}
#sidebar ul li{list-style:none;margin:0 0 4px;padding:0;}
#sidebar ul.sidelink{margin:0 0 18px;}
#sidebar ul.sidelink li{list-style:none;margin:0;}
#sidebar ul.sidelink li a{background:url(images/corner.gif) no-repeat top right #eee;border-bottom:1px solid #ccc;border-left:1px solid #ccc;color:#555;display:block;margin:0 0 3px;padding:3px 0 2px 5px;text-align:left;text-decoration:none;text-transform:uppercase;}
#sidebar ul.sidelink li a:hover{background:url(images/corner.gif) no-repeat top right #dadada;border-bottom:1px solid #dadada;border-left:1px solid #dadada;color:#555;text-decoration:none;}
#sidebar ul.sidelink ul{font-size:0.9em;margin:0;padding:0;}
#sidebar ul.sidelink ul li a{margin:0 0 2px 10px;padding:2px 0 1px 5px;}

#container img.alignleft{display:inline;float:left;margin:0 20px 5px 0;}
#container img.alignright{float:right;margin:0 0 5px 20px;}
#container img.aligncenter{display:block;margin:10px auto;}

#footer{background:#fff;clear:both;color:#555;margin:10px auto 0;padding:0;text-align:left;width:980px;}
#footer a{color:#555;font-weight:400;}
#footer p{font-size:0.9em;margin:0;padding:15px 0;text-align:center;}

.hide{display:none;}
