/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	font            : bold 14pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #800000;
	}
.cc02               { /* Common */
	font            : 12pt 'Tahoma', cursive;
	color           : #000000;
	}
.cc03               { /* Common */
	border          :   0.00pt solid #800000;
	}
.cc04               { /* Common */
	font            : italic 9pt 'Arial', Helvetica, sans-serif;
	color           : #800000;
	}
div#e9              { /* <DIV>Home</DIV> */
	position        : absolute;
	left            :  33.75pt;
	top             :  30.75pt;
	width           :  90.00pt;
	height          :  17.25pt;
	}
div#e8              { /* <DIV><SPAN style="mso-an... */
	position        : absolute;
	left            :  33.75pt;
	top             :  69.75pt;
	width           : 361.50pt;
	height          : 187.50pt;
	}
span#e7             { /* prionhome001004.gif */
	background      : transparent url(prionhome001004.gif) no-repeat top left;
	position        : absolute;
	left            : 404.25pt;
	top             :  31.50pt;
	width           :   0.75pt;
	height          : 264.00pt;
	}
div#e6              { /* Byron Morgan */
	position        : absolute;
	left            : 430.50pt;
	top             : 176.25pt;
	width           :  63.75pt;
	height          :  13.50pt;
	}
div#e5              { /* Martin Ridout */
	position        : absolute;
	left            : 433.50pt;
	top             :  96.00pt;
	width           :  62.25pt;
	height          :  15.75pt;
	}
div#e4              { /* Mick Tuite */
	position        : absolute;
	left            : 438.75pt;
	top             : 262.50pt;
	width           :  45.00pt;
	height          :  12.75pt;
	}
span#e3             { /* prionhome001003.jpg */
	background      : transparent url(prionhome001003.jpg) no-repeat top left;
	position        : absolute;
	left            : 427.50pt;
	top             : 201.75pt;
	width           :  66.75pt;
	height          :  53.25pt;
	}
span#e2             { /* prionhome001002.jpg */
	background      : transparent url(prionhome001002.jpg) no-repeat top left;
	position        : absolute;
	left            : 438.00pt;
	top             :  37.50pt;
	width           :  42.75pt;
	height          :  53.25pt;
	}
span#e1             { /* prionhome001001.jpg */
	background      : transparent url(prionhome001001.jpg) no-repeat top left;
	position        : absolute;
	left            : 437.25pt;
	top             : 116.25pt;
	width           :  45.75pt;
	height          :  54.00pt;
	}
body#page           { /* Page Body */
	background-color: #bcb494;
	}



/*--- EndOfFile ---*/
